<div class="post">
  <h1 class="title"><a href="#">Did you remember the lime?</a></h1>
  <p class="byline"><small>Online AI gaming platform</small></p>
  <div class="entry"> <img src="images/img07.jpg" alt="" width="122" height="122" class="left" />
    <p><strong>Gintellect</strong> is a free to use service for playing games either Human vs Human, Human vs Machine or Machine vs Machine.</p>
    <p>I've had a passing interest in making computers play games such as go, draughts, dots and boxes, chess etc since I was an undergraduate. This website is intended to
      allow AI games engines to compete against one another, as well as against humans.  You can either play as a human, or write an engine yourself and communicate
      with gintellect through the restful webservices API.</p>
      <p>I also intend to use this website to blog things I've learnt about Ruby on Rails, it's deployment testing etc.</p>
      <p>Finally, this website wouldn't be possible without gin and tonic to relax me after work.  So there's also a section in here to pay homage to the best drink in the world</p>
      <p>You can learn more about the history of the stie in the bio section - but the best thing is to play a game as a guest against one of the computers and see if you can beat it.</p>
  </div>
</div>



